.button-active::after {
    content: "Active";
    }

.button-active:hover::after {
    content: "Inactive";
   }

.button-inactive::after {
    content: "Inactive";
    }

.button-inactive:hover::after {
    content: "Active";
   }