{% extends "base.html" %}

{% block page_title %}
Password reset
{% endblock page_title %}


{% block contents %}

<h2 class="font-weight-bold mt-3">Reset Password</h2>
<hr>
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

	<form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
      <input type="email" name = "{{form.email.name}}" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
    </div>     
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

	

	
{% endblock contents %}